.navbar-inverse{
    background-color: rgb(35, 40, 45);
}

.btn-outline {
    color: rgb(224, 224, 224);
    background-image: none;
    background-color: transparent;
    border-color: rgb(224, 224, 224);
}