<h3 class="animated fadeIn fast">{{ proyecto.titulo | uppercase }}</h3>
<hr>
<div class="container animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="info-s">
          <p><b>Lenguaje:</b> {{ proyecto.lenguaje }}</p>
          <p><b>Informacion:</b> {{ proyecto.info }}</p>
          <hr>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a target="_blank" [href]="proyecto.repositorio" class="btn btn-outline my-2 my-sm-0 btn-block" role="button"><i class="fa fa-github"></i> Git-Hub</a>
          <a [routerLink]="['/projects']" class="btn btn-outline my-2 my-sm-0 btn-block" role="button"> Regresar</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div *ngFor="let gist of proyecto.gist;">
          {{gist}}
          <!--<script [src]="gist"></script>-->
      </div>
    </div>
  </div>
</div>
